 <% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-success") %>
			<% end %>

<div class="modal-open">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="modal modal-small fade in" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-right: 17px;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Register with</h4>
        </div>
        <div class="modal-body">
              <div class="social-area">
                  <a href="" class="btn btn-round btn-fill btn-social btn-facebook">
                     <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="" class="btn btn-round btn-fill btn-social btn-google">
                     <i class="fa fa-twitter-square"></i>
                  </a>
              </div>
              <span class="divider"> or </span>
  
              <div class="form-group">
  	        	<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          	</div>
          	 <div class="form-group">
              <%= f.password_field :password, autocomplete: "off" , placeholder: "Password", class: "form-control" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
          	</div>
          	 <div class="form-group">
  	        	<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control" %>
          	</div>
          	<%= f.submit "Register", class: "btn btn-info btn-fill btn-block" %>
        </div>
        <div class="modal-footer">
              <span class="text-muted">Looking to <%= link_to "Log In", new_session_path(resource_name), class: "text-muted" %> ?</span>
              
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>