
	<% content_for :features, "navbar-transparent" %>
	<div id="navbar-full">
	   <div id="navbar">
	   <!--
	       navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
	       -->
	       <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
          <% flash.each do |name, msg| %>
				    <%= content_tag(:div, msg, class: "alert alert-success") %>
			    <% end %>
	
	         <div class="container">
	           <!-- Brand and toggle get grouped for better mobile display -->
	           <div class="navbar-header">
	             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	               <span class="sr-only">Toggle navigation</span>
	               <span class="icon-bar"></span>
	               <span class="icon-bar"></span>
	               <span class="icon-bar"></span>
	             </button>
	             <a class="navbar-brand" href="#">GET SHIT DONE</a>
	           </div>
	
	           <!-- Collect the nav links, forms, and other content for toggling -->
	           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	             <ul class="nav navbar-nav">
	               <li><%= link_to 'HOME', welcome_index_path %></li></li>
	               <li class="active"><%= link_to 'JOBS', links_path %></li>
	               <% if user_signed_in? %>
	               <li><%= link_to 'SUBMIT JOB', new_link_path %></li>
	               <% end %>
	             </ul>
	            
	             <ul class="nav navbar-nav navbar-right">
	                  <% if !user_signed_in? %>
	                   <li><%= link_to 'Register', new_user_registration_path %></li>
	                   <li><%= link_to 'Sign in', new_user_session_path %></li>
	                  <% else %>
	                  <li class="dropdown">
	                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.email %> <b class="caret"></b></a>
	                     <ul class="dropdown-menu">
	                       <li><%= link_to 'Account', edit_user_registration_path %></li>
	                       <li class="divider"></li>
	                       <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
	                     </ul>
	                     <% end %>
	               </li>
	              </ul>
	              
	
	           </div><!-- /.navbar-collapse -->
	         </div><!-- /.container-fluid -->
	       </nav>
	    <div class="blurred-container">
	           <div class="img-src" style="background-image: url('<%= asset_path("gsdk/bg.jpg") %>')"></div>
	       </div>
	   </div><!--  end navbar -->
	
	</div> <!-- end menu-dropdown -->
	
	
		
	<div class="main">
	  <div class="row">
  	   <div class="container tim-container" style="max-width:800px; padding-top:100px">
  	     <div class="col-md-8 bottom-border">
    	     <h1><center><%= @link.title %></center></h1>
    	     <br>
    	     <br>
    	       <div align="right">
    	         <h5>
    	           Submitted <%= time_ago_in_words(@link.created_at) %> ago by <%= @link.user.email %>
    	         </h5>
    	       </div>
    	       <br>
    	       <br>
    	       
    	       <div>
    	         <%= @link.description %>
    	       </div>
    	       <br>
    	       <br>
    	   </div>
    	     <div class="col-md-3 col-md-offset-1">
        	        
        	       <div class="row">
        	       	<% if @link.image.file? %>
        	       		<%= image_tag @link.image.url(:medium) %>    	         
    	        	<% else %>
						<br><br><br><br><br><br><br>
					<% end %>
					<% if @link.user != current_user %>
        	       	<br><br><br><br>
        	       	Positive feedback: <%= @link.get_upvotes.size %><br>
        	       	Negative feedback: <%= @link.get_downvotes.size %><br>
        	       	<br>
                    <%= link_to like_link_path(@link), method: :put, class: "btn  btn-sm  btn-info" do %>
                      <span class="glyphicon glyphicon-chevron-up"></span>
                      Upvote
                    <% end %>
                    <%= link_to dislike_link_path(@link), method: :put, class: "btn  btn-sm btn-fill btn-info" do %>
                      <span  class="glyphicon glyphicon-chevron-down">
                      Downvote
                    <% end %>
                    <a href="javascript:void(0)" id="playsound">Press here for funny sound.</a>
                 </div>
                 <% end %>
                 <% if @link.user == current_user %>
                 <div class="row">
                   <%= link_to 'Edit', edit_link_path(@link), class: "btn  btn-sm btn-fill btn-info" %>
                   <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn  btn-sm btn-fill btn-info" %>
                 </div>
                 
                 <% end %>
                 
             </div>
  	       
  		    </div>
		    </div>
	   </div>
	   <div class="space"></div>
	<!-- end container -->
	</div>
	<!-- end main -->


<audio id="sound_effect" class="audio_player" preload="auto">
    <source src=" http://villagegeek.com/wavfiles/heres_looking.mp3" type="audio/mp3">
</audio>
<script>

    $('#playsound').click(function (e) {
    $('#sound_effect')[0].currentTime = 0;
    $('#sound_effect')[0].play();
    return true;
});
</script>
