 <% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-success") %>
			<% end %>
			


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<body class="ozadje">
<div class="center">
    <div class="modal modal-small fade in" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-right: 17px;">
    <div class="modal-dialog">
          <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center">Login with</h4>
            </div>
            <div class="modal-body">
  <div class="form-group">
  	<%= f.label :email %>
  	<%= f.email_field :email, autofocus: true, class: "form-control", required: false %>
  </div>

  <div class="form-group">
  	<%= f.label :password %>
  	<%= f.password_field :password, class: "form-control", required: false %>
  </div>

  <div class="checkbox">
  	<label>
  	<%= f.check_box :remember_me, required: false, as: :boolean if devise_mapping.rememberable? %> Remember Me
		</label>
  </div>

  <div class="form-group">
  	<%= f.submit "Sign In", class: "btn btn-info btn-fill btn-block" %>
  </div>
  
  <div class="modal-footer">
              <span class="text-muted">Looking to <%= link_to "Sign up", new_registration_path(resource_name) %>?</span>
              
        </div>
  
  </div>
  </div>
  </div>
  </div>
  </div>
<% end %>
</body>
